h1 {
    padding-top: 4rem;
    margin-top: 0;

    font-size: 2.6rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-weight: 900;
    font-size: 1.2rem;
}

.title-image {
    margin-top: 9rem;
}

.project-info {
    display: grid;
    column-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.info-heading {
    /* linear gradient learned from
    https://www.beatrizcaraballo.com/blog/low-highlight-heading-links-squarespace and
    https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    background-image: linear-gradient(180deg,rgba(255,255,255,0) 30%, #F9E6F1 30% 93%, rgba(255,255,255,0) 93%);
    font-weight: bold;
    font-weight: 900;
    
    font-size: 1.2rem;
}

.info-list {
    list-style: none;
    padding-left: 0;
}

.info-list li {
    margin-bottom: 0.5rem;
}

.overview {
    margin: 2rem auto 3rem auto;
    max-width: 35rem;
}

.content-section {
    max-width: 60rem;
    margin: 5rem auto;
}

.process-section {
    display: grid;
    column-gap: 2rem;
    margin: 3rem auto;
    max-width: 60rem;
}

.process-heading {
    position: sticky;
    top: 5rem;
}

.two-figures {
    display: grid;
    column-gap: 1rem;
}

.two-figures figure {
    margin: 1rem 0;
}

.four-figures {
    display: grid;
    column-gap: 1rem;
}

.four-figures figure {
    margin: 1rem 0;
}

.video-embed {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
}

img {
    display: block;
}

.pattern {
    position: relative;
    margin: 0;
}

.pattern-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 15rem;
}

.pattern-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 15rem;
}

@media (min-width: 25rem) {
    .four-figures {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 32rem) {
    .project-info {
        grid-template-columns: 1fr 2fr;
    }
}

@media (min-width: 35rem) {
    .title-image {
        margin-top: 4rem;
    }

    .pattern-left, .pattern-right {
        width: 25%;
        height: 20rem;
    }

    h1 {
        font-size: 4rem;
        /* margin-bottom: 1rem; */
    }
}

@media (min-width: 40rem) {
    .process-section {
        grid-template-columns: 1fr 2fr;
    }

    .four-figures {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* .overview {
        grid-template-columns: 2fr 5fr;
    } */
}

@media (min-width: 50rem) {
    .overview {
        max-width: 50rem;
    }
}

@media (min-width: 60rem) {
    .four-figures {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 65rem) {
    .project-info {
        grid-template-columns: 1fr 2fr 1fr 2fr;
    }

    .two-figures {
        grid-template-columns: 1fr 1fr;
    }

    .pattern-left, .pattern-right {
        width: 20%;
    }

    h1 {
        font-size: 5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 80rem) {
    .process-section {
        column-gap: 5rem;
    }
}

@media (min-width: 105rem) {
    .pattern-left, .pattern-right {
        width: 30%;
        height: 40rem;
    }
}
